/* Class names prefixes */
$prefix: 'gjs-' !default;

/* Colors / Theme */
// $primaryColor: #463a3c;
$primaryColor: #ffffff;
$secondaryColor: #c5bcbd;
$tertiaryColor: #aa9ea9;
$quaternaryColor: #4260e9;
